<%= form_for @user, html: {multipart: true} do |f| %>

<% if @user.errors.full_messages.any? %>
  <ul>
    <% @user.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

  <%= f.label :name, 'Name:' %>
  <%= f.text_field :name, required: true %>
  <br>

  <%= f.label :dob, 'Date of birth:' %>
  <%= f.date_field :dob, required: true %>
  <br>

  <%= f.label :image, 'Upload a profile image:' %>


  <%= f.cl_image_upload :image %>
  <br>

  <%= f.label :sex, 'Gender:' %>
  <%= f.text_field :sex %>
  <br>

  <%= f.label :goal, 'Goal:' %>
  <%= f.text_field :goal %>
  <br>

  <%= f.label :email, 'Email:' %>
  <%= f.text_field :email, required: true %>
  <br>

  <%= f.label :password, 'Password:' %>
  <%= f.password_field :password, required: true %>
  <br>

  <%= f.label :password_confirmation, 'Password Confirmation:' %>
  <%= f.password_field :password_confirmation, required: true %>
  <br>
  <br>


  <%= f.submit class:'submit_button' %>

<% end %>
