<h2> <%= @user.name %> </h2>

<%= link_to 'Edit Profile', edit_user_path(@user.id) %>
|
<%= link_to 'Delete Profile', user_path(@user.id), method: 'delete' %>


<p>
  <strong>Name:</strong> <%= @user.name %>
</p>

<p>
  <strong>Bio:</strong> <%= @user.bio %>
</p>

<p>
  <strong>Date of Birth:</strong> <%= @user.dob %>
</p>

<p>
  <strong>Gender:</strong> <%= @user.sex %>
</p>

<p>
  <strong>Age:</strong> <%= @user.age %>
</p>

<p>
  <strong>Height (cm):</strong> <%= @user.height %>
</p>

<p>
  <strong>Weight (kgs):</strong> <%= @user.weight %>
</p>

<p>
  <strong>Target Weight (kgs):</strong> <%= @user.target_weight %>
</p>

<% if @user.image.present? %>
  <%= cl_image_tag @user.image, alt: @user.name, class: 'user' %>
<% end %>
