<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
          <%= link_to 'User Home', users_path %>
          |
          <%= link_to 'Add Account ', new_user_path %>
        </nav>
    <%= yield %>

    <footer>
      <hr>
      &copy; FatBoy Studios
    </footer>
  </body>
</html>
